.titleMain {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-light);
    text-align: center;
}

.iconHeart {
    display: inline-block;
    font-weight: 800;
    font-size: 18px;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-name: heart;
    vertical-align: text-top;
    transform: scale(1.2);
}

@keyframes heart {
    0% {
        transform: scale(1);
    }
    4% {
        transform: scale(1.2);
    }
    5% {
        transform: scale(1);
    }
    12% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.2);
    }
}
