:root {
  --color-light: #ffffff;
  --color-dark: #000000;
}

.theme-light {
  --color-primary-bg: #ffffff;
  --color-primary: #ffffff;
  --color-secondary: #081c24;
  --color-accent: #ffcc00;
  --color-accent-warning: #e81626;
  --box-shadow-card: 5px 5px 10px rgba(122, 122, 122, 0.5);
  --font-color: #000000;
  --font-color-light: #959490;
  --font-color-accent: #ffffff;
  --border-radius: 5px;

  --button-bg: var(--color-secondary);
  --button-border: 1px solid transparent;
  --button-bg-hover: var(--color-accent);

  --color-accent-dark: #081c24;
}

.theme-dark {
  --color-primary-bg: #1B2136;
  --color-primary: #252D47;
  --color-secondary: transparent;
  --color-accent: #2196f3;
  --color-accent-warning: #e81626;
  --button-bg: transparent;
  --box-shadow-card: none;
  --font-color: #ffffff;
  --font-color-accent: #2196f3;
  --border-radius: 0px;

  --button-bg: transparent;
  --button-border: 1px solid var(--color-accent);
  --button-bg-hover: transparent;

  --color-accent-dark: #2196f3;
}


body {
  margin: 0;
  font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
  background: var(--color-primary-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn-white {
  display: inline-flex;
  color: var(--font-color);
  text-align: center;
  background: transparent;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: var(--border-radius);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
  padding: 5px;
}

.btn-white:hover,
.btn-white:focus {
  color: var(--color-accent);
  outline: none;
}

.btn-white--red:hover,
.btn-white--red:focus {
  color: var(--color-accent-warning);
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: var(--border-radius);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;

  color: var(--font-color-accent);
  background: var(--button-bg);
}

.btn:hover {
  background: var(--button-bg-hover);
  border: var(--button-border);
  outline: none;
}

.btn--red:hover {
  background: var(--color-accent-warning);
}

.btn--bottom {
  margin-top: auto;
}

.btn--long {
  width: 100%;
}

.btn.active {
  background: var(--button-bg-hover);
  border: var(--button-border);
}

.header {
  position: relative;
  background: var(--color-secondary);
  padding: 20px;
  color: var(--font-color);
}

.header-switcher {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  display: flex;
  align-items: flex-start;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.sidebar {
  padding: 3%;
  max-width: 25%;
  min-width: 265px;
}

.main {
  flex: 1;
  max-width: 75%;
}

.main-header {
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header__col {
  margin-right: 30px;
}

.main-header__col--right {
  margin-left: auto;
}

.card {
  position: relative;
  display: flex;
  word-wrap: break-word;
  background: var(--color-primary);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-card);
}

@media (max-width: 1200px) {
  .product {
    width: 48%;
    min-height: 250px;
  }

  .product--cart {
    width: 100%;
    min-height: auto;
  }
}

@media (max-width: 860px) {
  .content {
    flex-direction: column-reverse;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .sidebar {
    padding: 7%;
    max-width: none;
    margin-bottom: 30px;
  }

  .main {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 570px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-header__col {
    margin-bottom: 10px;
  }

  .main-header__col:last-child {
    margin-bottom: 0;
  }
}
